[user]
	name = Matthew Bischoff
	email = mb@matthewbischoff.com
	signingkey = 5092E776

[core]
	excludesfile = ~/.gitignore
	editor = mate -w
	
[apply]
 	whitespace = nowarn

[push]
	default = current
	
[credential]
	  helper = osxkeychain
[alias]
    co = checkout
    rh = reset --hard
    undo = reset --soft HEAD~1
	
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
	keepBackup = false
[color]
	ui = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = Kaleidoscope
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
